/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
D11D06
*/

/* https://mailchi.mp/79548bfda8fa/bankonatlanta */

/*
 
:not(path):not(g) {
    color: hsla(210, 100%, 100%, 0.9) !important;
    background: hsla(210, 100%, 50%, 0.5) !important;
    outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
} 
 
*/

body {
    font-family: 'Work Sans', sans-serif;
}

/* top bar for the logo and social media links*/

.Logo {
    max-height: 150px;
    max-width: 250px;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
}

#sign_up,
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button at the top of the page*/

.btn {
    padding: 8px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: none;
    box-shadow: 5px 5px 8px grey;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #D11D06;
    color: black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #BE1B06;
}

.btn-primary:active,
.btn-primary.active {
    background: #BE1B06;
    box-shadow: none;
}

/*social media icons*/

.fa.fa-twitter-square {
    margin: 20px;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

#icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* this is everything in first blue box part*/

.blue_box {
    padding: 20px;
}

#heading_blue_box {
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: 900;
    text-align: center;
}

#place_holder_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.image_placeholder {
    border-style: solid;
    border-color: black;

}

#center_box {
    background-color: #A9BEDB;
    border-style: solid;
    border-width: 10px;
    border-color: #A2B2C9;
}

#forth_row {
    font-size: 25px;
    text-align: center;
}

#your_community_matters {
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 1px;
    padding-top: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Your_community {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 25px;
    text-align: center;
}

/* green button */

#green_button {
    justify-content: center;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .65em;
    background-color: #00D315;
    height: 2em;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;

}

.zip_codes {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
    color: grey;
    display: flex;
    text-align: center;
}

#bank_on_atlanta {
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
}

.bank_on_atlanta_program {
    font-size: 1.5em;
    font-weight: 500;
}

#sixth_row {
    padding-bottom: 2em;
}

/*second blue box with white back ground*/

.second_blue_box_white {
    background: white;
    border: 18px solid #A9BEDB;
    outline: 8px solid #A2B2C9;
}

.money_matters {
    text-align: center;
    display: inline-block;
    font-size: 45px;
    text-decoration: underline;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: 900;

}

.why_your_matter {
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}

#make_your_money_matter_button {
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .65em;
    background-color: #00D315;
    height: 2.5em;
    font-size: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    vertical-align: middle;
}

.atlanta_backdrop {
    padding: 8px;
}

#neighborhood {
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 2em;
}

#neighborhood_matters {
    font-size: 30px;
    border-bottom: .5px solid currentColor;
    display: inline-block;
    line-height: 0.95;

}

#atlanta_cares {
    padding-top: 1em;
}

#represent_your_neighborhood_button {
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-radius: .65em;
    background-color: #00D315;
    height: 2.5em;
    /*    transform: scale(1.75, 2);*/
    font-size: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    vertical-align: middle;
}

.last_box {
    padding-top: 2em;
}

#last-article {
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    
}

#address {
    font-size: 1em;
    font-weight: 600;
    padding-left: 2em;
}

#community {
    font-size: .75em;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.submit_button {
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .65em;
    background-color: #00D315;
    height: 2.5em;
    width: 10em;
    font-size: 1.25em;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    vertical-align: middle;
}
#about_us {
    font-size: 1em;
    justify-content: center;
    text-align: center;
    line-height: 2.25em;
    text-decoration-line: underline;
}

#icons_bottom {
    /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
*/
}

#facebook_icon {
    background: white;
    border-radius: 25px;
    background-size: 2px;
}

#twitter_icon {
    background: white;
    border-radius: 25px;
}
